<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{navbar/header}">

</head>

<body>

<div>
    <nav th:replace="~{navbar/navbar}"></nav>
</div>


<div class="container-fluid">
    <h5 class="text-center text-red mt-5 ">
        Ops,the thingy that you are looking for is no longer here !
    </h5>
    <h5 class="text-center text-white mt-5">Product with id <th:block th:text="${objectId}">1</th:block> was not found!</h5>
<!--    <img th:src="@{/images/error.png}" alt="Broken car">-->
    <a th:href="@{/home}">Go home...</a>
    <br/>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
