<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{navbar/header}">
</head>
<body>
<div>
    <nav th:replace="~{navbar/navbar}">
    </nav>
</div>
<div class="p-5 align-content-center bg-blur my-register-div">
    <div th:object="${article}" class="offers row mx-auto d-flex flex-row justify-content-center">
        <div  class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0" >
            <div class="card-text">
                <h4 th:text="*{title}">12345></h4>
            </div>
            <article class="forecast">
                <p class="card-title" th:text="*{description}">Article description</p>
            </article>
        </div>

    </div>
</div>

<div>
<!--    <th:block th:replace="~{navbar/footer}"/>-->
</div>

</body>
</html>
