<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{navbar/header}">
</head>
<body>
<div>
    <nav th:replace="~{navbar/navbar}"></nav>
</div>
<div class="p-5 align-content-center bg-blur my-register-div">
    <div class="container">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <form class="search"
                     th:action="@{/search/{searchKey}}"
                     th:method="get">
                    <i class="fa fa-search">
                    </i>
                    <input class="form-control"
                            type="search"
                           name="searchKey"
                           th:value="${searchKey}"
                           placeholder="search"
                           aria-label="Search" required>
                    <button class="btn btn-primary" type="submit" value="searchKey" th:href="@{/search/{searchKey}(searchKey=*{searchKey})}" th:text="#{search_key}" >Search</button>
                </form>
            </div>
        </div>
    </div>
    <h5 class="text-center text-dark mt-5" th:text="#{brand_product}">Brands</h5>
    <div class="offers row mx-auto bg-transparent d-flex flex-row justify-content-center">
        <div th:each="brand: ${brands}"
             class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
            <span class="card-img-top-wrapper text-center">
                <a th:href="@{/brand/{searchKey}(searchKey=*{brand.brand()})}">
                    <img class="card-img-top" th:src="*{brand.imageUrl()}" alt="Article image">
                </a>
            </span>
        </div>
    </div>
    <h5 class="text-center text-dark mt-5" th:text="#{type_product}">Types</h5>
    <div class="offers row mx-auto bg-transparent d-flex flex-row justify-content-center">
        <div th:each="type: ${types}"
             class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
            <span class="card-img-top-wrapper text-center">
                <a class="text-center nav-link" th:text="${type.type()}"
                th:href="@{/type/{searchKey}(searchKey=*{type.type()})}"></a>
            </span>
        </div>
    </div>
</div>

<th:block th:replace="~{navbar/footer}"/>
