<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{navbar/header}">
</head>
<body>
<div>
    <nav th:replace="~{navbar/navbar}">
    </nav>
</div>
<div class="container-fluid">
    <h4 class="text-center text-dark mt-5">All Products</h4>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div th:each="product: ${products}"
             th:object="${product}"
             class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
            <div class="card-img-top-wrapper">
                <img class="card-img-top" th:src="*{imageUrl}" alt="Car image">
            </div>
            <div class="card-body pb-1">
                <h5 class="card-title" th:text="*{name}" >
                    Offer year Brand name Model name</h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text">
                        <span th:text="#{product_price}">• Price</span>
                        <th:block th:text="*{price}">123</th:block>

                    </div>
                    <div class="card-text">
                        <span th:text="#{product_type}">• Type</span>
                        <th:block th:text="*{type}">TYPE</th:block>

                    </div>
                    <div class="card-text">
                        <span th:text="#{product_brand}">• Brand</span>
                        <th:block th:text="*{brant}">BRAND</th:block>

                    </div>
                </li>
            </ul>
            <div class="card-body">
                <a class="btn btn-info btn-lg" th:href="@{/product/{uuid}(uuid=*{id})}" th:text="#{details_of_all}">Details</a>
            </div>
            <div class="card-body" sec:authorize="hasRole('ADMIN')">
                <form th:method="delete"
                      th:action="@{/product/remove/{uuid}(uuid=*{id})}">
                    <input type="submit" value="Delete" class="link card-link" />
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <th:block th:replace="~{navbar/footer}"/>
</div>

</body>
</html>
