<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{navbar/header}">

</head>

<body>

<div>
    <nav th:replace="~{navbar/navbar}"></nav>
</div>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div th:object="${user}" class="offers row mx-auto d-flex flex-row justify-content-center">
        <div  class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0" >
            <div class="card-body pb-1">
                <h5 class="card-title" th:text="*{fullName}">
                    Full Name</h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text">
                        <span>• Email</span>
                        <th:block th:text="*{email}">12345</th:block>
                    </div>
                </li>
            </ul>

            <div  class="col-12 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-white text-dark text-center" th:text="|ShopCart:   ${archive.size()}|"></h3>
                <th:block th:each="archive : ${archive.getArchiveShoppingCartDTOS()}">
                    <span class="bg-danger text-center" th:text=" 'Date Made: ' + ${archive.getDate()} + ': Total price: ' + ${archive.getTotalPrice()}"></span>
                    <th:block th:each="product : ${archive.getArchive()}">
                           <div class="row rounded badge-secondary text-center">
                              <span th:text="'Name: ' + ${product.getName()} + '; Quantity: ' + ${product.getQuantity()} + '; Price: ' + ${product.getSinglePrice()}" ></span>
                          </div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>
</div>