<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{navbar/header}">
</head>
<body>
<div>
    <nav th:replace="~{navbar/navbar}">
    </nav>
</div>
<div class="container">
    <h4 class="text-center text-dark">Register User</h4>
    <!-- Registration form start -->
    <form
            th:action="@{/users/register}"
            th:method="POST"
            th:object="${userRegistrationDTO}"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="fullName" class="text-dark font-weight-bold" th:text="#{register_user_fullName}">Full name</label>
                <input  id="fullName"
                        name="fullName"
                        th:field="*{fullName}"
                        th:errorclass="is-invalid"
                        type="text"
                        min="3" max="20" class="form-control"
                        placeholder="fullName "/>
                <p class="errors alert alert-danger invalid-feedback" th:if="${#fields.hasErrors('fullName')}" th:errorclass="error" th:errors="*{fullName}">
                    Full Name size must be between 3 and 20 characters!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="email" class="text-dark font-weight-bold" th:text="#{register_user_email}">Email</label>
                <input id="email"
                       name="email"
                       th:field="*{email}"
                       th:errorclass="is-invalid"
                       type="text"
                       min="2" max="20" class="form-control"
                       placeholder="Email"/>
                <p class="errors alert alert-danger invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}">
                    Email is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="phone" class="text-dark font-weight-bold" th:text="#{register_user_phone}">Phone</label>
                <input id="phone"
                       name="phone"
                       type="text"
                       th:field="*{phone}"
                       th:errorclass="is-invalid"
                       min="9" class="form-control"
                       placeholder="Phone"/>
                <p class="errors alert alert-danger invalid-feedback" th:if="${#fields.hasErrors('phone')}" th:errorclass="error" th:errors="*{phone}">
                    Phone is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="password"
                       class="text-dark font-weight-bold" th:text="#{register_user_password}">Password</label>
                <input id="password"
                       name="password"
                       th:field="*{password}"
                       th:errorclass="is-invalid"
                       type="password" min="4" max="20" class="form-control"
                       placeholder="Password"/>
                <p class="errors alert alert-danger invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}">
                    Password is required.
                </p>
            </div>
        <div class="form-group col-md-6 mb-3">
            <label for="confirmPassword"
                   class="text-dark font-weight-bold" th:text="#{register_user_confirmPassword}">Confirm Password</label>
            <input id="confirmPassword"
                   name="confirmPassword"
                   th:field="*{confirmPassword}"
                   th:errorclass="is-invalid"
                   type="password" min="4" max="20" class="form-control"
                   placeholder="Confirm Password"/>
            <p class="errors alert alert-danger invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}" th:errorclass="error" th:errors="*{confirmPassword}">
                Password conformation is required.
            </p>
        </div>
</div>
<div class="row">
    <div class="col col-md-4">
        <div class="button-holder d-flex">
            <input type="submit" class="btn btn-info btn-lg" value="Register"/>
        </div>
    </div>
</div>
</form>
<!-- Registration form end -->
</div>
<div>
<!--    <th:block th:replace="~{navbar/footer}"/>-->
</div>
</body>
</html>
