<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{navbar/header}">
</head>
<body>
<div>
    <nav th:replace="~{navbar/navbar}">
    </nav>
</div>
<main>
    <div class="container bg-blur rounded mt-3 mb-4">
        <h4 class="mySticky bg-gray text-dark text-center" >Cart</h4>
        <div class="row mt-3 mb-3">
            <div  class="col-lg-6 col-12 mb-4 mb-lg-0">
                <th:block th:each="product : ${products}">
                    <div class="text-center mb-4 pb-lg-2">
                        <span th:text="${product.getName()} + '      '"></span>
                        <a class="ml-3 text-danger" th:href="@{/remove/product/{getName} (getName=${product.getName()})}" th:text="#{remove_product_from_cart}"> Remove </a>


                        <a class="ui-button text-danger "   th:min="1" th:href="@{/decrease/product/{getName} (getName=${product.getName()})}">  -  </a>
                        <span th:text="'  ' + ${product.getQuantity()} + '  '"></span>
                        <a class="ui-button text-danger" th:href="@{/increase/product/{getName} (getName=${product.getName()})}">  +  </a>

                        <span th:text="'     ' + ${product.getPrice()} + '  '" ></span>
                    </div>
                 </th:block>
                <div class="col-5 bg-danger rounded m-auto">
                    <span th:text="#{total_price} + '   ' + ${price}"></span>
                </div>
            </div>

            <div class="row mt-3 mb-3" th:if="${!products.isEmpty()}">
                <a class="card-link" th:href="@{/delivery}" th:text="#{final_step_cart}">Buy</a>
            </div>
        </div>
    </div>
</main>
<footer></footer>
</body>
</html>
