<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{navbar/header}">
</head>
<body>
<div>
    <nav th:replace="~{navbar/navbar}">
    </nav>
</div>
<div class="p-5 align-content-center bg-blur my-register-div">
    <h2 class="text-center text-dark mt-5">Success deliver</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div  class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0" >
<!--            //TODO-->
<!--                    <div class="card-text">-->
<!--                        <span>• Your number of delivery</span>-->
<!--                        <th:block th:text="*{uuid}">12345</th:block>-->
<!--                    </div>-->
<!--                    <div class="card-text">-->
<!--                    <span>• Yor price for deliveri is - </span>-->
<!--                    <th:block th:text="*{price}">12345</th:block>-->
<!--                    </div>-->
        </div>
    </div>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
